<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.admin.pandatv">
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".view.base.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo_ipnda"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="Android:icon, android:theme">
        <activity
            android:name=".view.activity.WelcomeActivity"
            android:screenOrientation="portrait">

            <!-- 设置屏幕为横向，更高级奥 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.VideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".view.activity.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.OriginalInteractionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.OriginalInteractiveDetailsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.PersonalCenter" />
        <activity android:name=".view.activity.LoginActivity" />
        <activity android:name=".view.activity.RegisteredActivity" />
        <activity android:name=".view.activity.ForgetPasswordActivity" />
        <activity android:name=".view.activity.RollingVideoActivity" />

        <activity android:name=".view.activity.ForgetPasswordActivity"></activity>
        <activity android:name=".view.activity.RollingVideoActivity"/>
        <activity
            android:name=".view.activity.banderavtivitys.FristActivity"
            android:screenOrientation="landscape" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59a669b1c62dca174b000545"></meta-data>

        <activity
            android:name=".view.activity.banderavtivitys.FristActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.banderavtivitys.SecondActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.banderavtivitys.ThirdActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.activity.banderavtivitys.FourActivity"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider734032233449672"
            android:exported="true" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity android:name=".view.activity.ShareActivity"

            android:theme="@style/Transparent"
            android:screenOrientation="landscape">


        </activity>
            android:value="59a669b1c62dca174b000545" >

        <activity android:name=".view.activity.banderavtivitys.FristActivity"
            android:screenOrientation="landscape"
            ></activity>
        <activity android:name=".view.activity.banderavtivitys.SecondActivity"
            android:screenOrientation="landscape"
            ></activity>
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"
            android:configChanges="orientation|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".view.activity.banderavtivitys.SecondActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".view.activity.banderavtivitys.ThirdActivity"
            android:screenOrientation="landscape"
            ></activity>
        <activity android:name=".view.activity.banderavtivitys.FourActivity"
            android:screenOrientation="landscape"
            ></activity>
        <activity android:name=".view.activity.DialogActivity" android:theme="@style/translucent"
            android:screenOrientation="portrait"
            >
        </activity>
        <activity android:name=".view.activity.set.SetAcivity"></activity>

        <activity android:name=".view.activity.set.HelpActivity"></activity>
        <activity android:name=".view.activity.set.AsregardsActivity"></activity>
    </application>

</manifest>